.navbar {
    display: flex;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
}

.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 7.75rem;
}

.navbar-brand img {
    width: 100%;
}

.navbar-links {
    display: flex;
    justify-content: space-between;
    gap: 2.875rem;
    align-items: center;
    max-width: 720px;
    font-weight: 500;
}

.navbar-links a {
    color: #f0f0f0;
}

.navbar-links a:hover {
    font-weight: bold;
}

.navbar-links a::before {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.navbar-actions {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
}

.navbar-actions li {
    color: #f0f0f0;
    cursor: pointer;
}
