.navbar-links {
    display: flex;
    justify-content: space-between;
    gap: 2.875rem;
    align-items: center;
    font-weight: 300;
}

.navbar-links a {
    color: #f0f0f0;
}

.navbar-links a:hover {
    font-weight: bold;
}

.navbar-links a::before {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
