.hero {
    margin-top: 11rem;
    margin-left: 5rem;
    font-family: "Playfair Display", serif;
    padding-bottom: 600px;
}

.hero-title {
    font-size: 3.75rem;
    background-image: linear-gradient(to right, #ebc6a8, #90584b);
    background-clip: text;
    color: transparent;
    font-weight: 500;
}

.hero-subtitle {
    color: #ebc6a8;
    font-size: 1.875rem;
    font-weight: 400;
}

.hero-btn {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    margin-top: 2rem;
    padding: 2rem 4rem;
    background-color: transparent;
    border: 1px solid #ebc6a8;
    border-radius: 999999px;
    color: #ebc6a8;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.hero-btn:hover {
    background-color: transparent;
    color: #f0f0f0;
    border: 1px solid #f0f0f0;
}
